.TextContainer
{
	width: 100%;
	height: 100%;

	margin: 1px;
	border: 1px;

	font-family: Raju;
	font-size: 200px;
	font-weight: semi-bold;

    color: #ff0000;

	border-style: solid;
	border-color: blue;
	border-width: 1px;
}

.TextLine
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;

	opacity: 0;
	
	transition-property: opacity; 
	transition-duration: 3s; 
	border: 1px solid red;
}

.TextBox
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
	text-align: center;
}

.TextBox Label
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
	text-align: center;
}

.ShowTutorialText01 #TutorialText01

{
	opacity: 1;
}

.HideTutorialText01 #TutorialText01

{
	opacity: 0;
	transition-property: opacity; 
	transition-duration: 2s; 
}
