.TextContainer
{
	width: 100%;
	height: 100%;

	margin: 1px;
	border: 1px;

	font-family: Raju;
	font-size: 200px;
	font-weight: semi-bold;

    color: #ff0000;

	border-style: solid;
	border-color: blue;
	border-width: 1px;
}

.TextLine
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;

	opacity: 0;
	
	transition-property: opacity; 
	transition-duration: 3s; 
	border: 1px solid red;
}

.TextBox
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
	text-align: center;
}

.TextBox Label
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
	text-align: center;
}

.ShowTutorialText01 #TutorialText01

{
	opacity: 1;
}

.HideTutorialText01 #TutorialText01

{
	opacity: 0;
	transition-property: opacity; 
	transition-duration: 2s; 
}


.BodyText { font-size:18px; margin-top:4px; }

.Body { 
    opacity: 1;
    margin-top:4px;
    	font-family: Raju;
	font-size: 200px;
	font-weight: semi-bold;

    color: #ff0000;
 }

.TextString {
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;

	opacity: 1;
	
	transition-property: opacity; 
	transition-duration: 3s; 
	border: 1px solid blue;
}

.AnswerBtn {
    width:12%; height:6%; background-color:#006600; 
    margin-left:2px; margin-right:2px;
    font-size: 200px;
}

.AnswerBtn:hover { background-color:#009900; }

.DialogWindow {
    width:48%; height:32%;
    color: #00ff73;
}